.box-texto{
    padding-top: 85px;
    color: #505050!important;
    font-weight: bold !important;
    font-family: 'Source Sans Pro', sans-serif!important;
    
}

.box-fotos{

    border-radius: 50%;
    width: 350px;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.icone{
    color: #c87286!important;
    font-size: 700 !important;
}

.img_sobre {
    max-width:400px;
    max-height:400px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: auto;
    height: auto;
}

.box-icones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.espaco-letras{
    letter-spacing: 1px!important;
}